.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4.3rem;
    background-color: var(--main-dark);
    z-index: 99;
}

.filterButton {
    width: 86px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterButton:hover {
    cursor: pointer;
}

.logoWrapper:hover {
    cursor: pointer;
}

@media screen
and (min-width: 951px)
and (max-width: 1440px){
    .wrapper {
        padding: 1rem 3.8rem;
    }
    .filterButton {
        height: 54px;
    }
}

