.icon {
    margin-bottom: 6px;
}

.itemInfoBar {
    height: 31.25rem;
    width: 33px;
    margin-left: 3.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.infoBarItemWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 1.3rem 0;
}

.infoBarItemWrapper:hover {
    cursor: pointer;
}

.footerContent {
    font-size: 20px;
    width: 50.5rem;
    height: 3rem;
    margin-top: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerContentButton {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--white);
    padding: 0.9rem 2.6rem;
    background-color: var(--main-purple);
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerContentButton:hover {
    cursor: pointer;
    color: var(--main-dark);
    background-color: var(--white);
}

.footerContentButton span {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10px;
    display: inline-block;
}

.footerContentSavedButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.footerContentSavedButton:hover {
    cursor: pointer;
}

.footerContentSavedButton span {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 15px;
    display: inline-block;
}

.footerContentData {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50.5rem;
}

.footerContentDataYear {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.3rem 1.12rem;
    border-radius: 60px;
    border: 2px solid var(--main-purple);
    color: var(--white);
}

.footerContentDataCtr {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 30px;
}

.footerContentDataNumber {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 30px;
}

.footerContentDataNumber span {
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.imageWrapper {
    height: 31.25rem;
    width: 45.3rem;
    border-radius: 20px;
    position: relative;
}

.imageWrapper:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.topPlaceHolder {
    position: absolute;
    left: -10px;
    right: -10px;
    top: 0;
    height: 60px;
    z-index: 9999;
    background-color: var(--main-dark);
}

.bottomPlaceHolder {
    position: absolute;
    left: -10px;
    right: -10px;
    bottom: 0;
    height: 45px;
    z-index: 9999;
    background-color: var(--main-dark);
}

.playerControls {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    padding: 0 40px;
}

.sliderWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
}

.sliderSlide {
    height: 95px;
    margin-bottom: 8px;
}

.playPauseWrapper {
    transform: translateY(-5px);
}

.volumeIconWrapper,
.playPauseWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playPauseWrapper:hover,
.volumeIconWrapper:hover {
    cursor: pointer;
}

.mySwiper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

@media screen
and (min-width: 951px)
and (max-width: 1440px){
    .item {
        padding-top: 5rem;
        height: 90vh;
    }

    .img,
    .itemInfoBar,
    .imageWrapper {
        height: 28rem;
    }
}
